# Eclipse Project files
.project
.cproject

# JetBrains IDEa folder
.idea/

# Build folders 
build/
cmake-build-debug/

# Compiled binaries
AsteroidsRefactored
*.o
*.obj
*.exe
*.pch
*.dll
*.ilk
*.pdb

